* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*
  --colblack: #251A2E;
  --colwhite: #EAE7F2;
  --colmain: #453A63;
    --collight: #8D8AB0;#9D9AC4;A5A2CF
  --collight: #A5A2CF;
  --coldark: #787096;
  --dropwidth: 70px;
*/

/*making header/footer/main work*/
html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #787096;
  background-image: url(background.PNG);
}
a {
  word-wrap: break-word;
}

footer, header {
  display: -ms-inline-flex;
  display: inline-flex;
  align-items: -ms-center;
  align-items: center;
  line-height: 35px;
  font-size: 18px;
  vertical-align: middle;
  width: 100%;
  min-height: 35px;
  max-height: none;
  background-color: #453A63;
  color: #A5A2CF;
  font-weight: bold;
  font-family: monospace;
}
footer {
  padding: 10px;
}
main section dt {
  float: left;
  margin-right: 7px;
}
main section dd {
  margin-bottom: 7px;
}
main section dt {
  font-weight: bold;
}
main section dl dt a {
  color: #453A63;
  font-weight: normal;
  list-style: none;
  /*text-decoration: none;*/
}
main section dl dt:hover a {
  background-color: #453A63;
  color: #EAE7F2;
}
main section p {
  margin-bottom: 5px;
}
section {
  margin-bottom: 15px;
}
em {
  font-style: italic;
}
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
main {
  overflow-y: visible;
  flex: auto;
  width: 100%;
  margin: auto auto;
  padding: 20px;
  background-color: #EAE7F2;
  color: #251A2E;
  border-left: solid 5px #453A63;
  border-right: solid 5px #453A63;
}
main h1 {
  text-align: center;
  font-family: monospace;
  margin-bottom: 10px;
}
main section h3 {
  margin-left: 10px;
  text-decoration: none;
}

/* footer styling */
footer {
  padding: 3px;
  width: 100%;
}
footer p {
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  padding: 0;
  margin: 0;
}

footer h2 {
  font-size: 18px;
  width: 100%;
  float: right;
  text-align: right;
  display: inline-block;
  padding: 0 10px;
}


/*Drop nav(+dropdown) styleing*/
header nav {
  display: block;
  float: none;
  width: 100%;
}
header nav h1 {
  height: 35px;
  min-height: 35px;
  line-height: 35px;
  width: 100%;
  display: table;

}
header nav h1 a {
  text-decoration: none;
  color: #A5A2CF;
  float: left;
  width: auto;
}
header nav h1 a span {
  font-size: 26px;
  word-spacing: -9px;
  text-align: center;
  float: left;
  display: inline-block;
  margin: 0 auto;
}
header nav h1 a img {
  float: left;
  display: block;
  height: 35px;
}
header nav h1 img.button {
  float: right;
  display: inline-block;
  height: 35px;
}
header nav ul {
  display: none;
  list-style: none;
  float: left;
  position: fixed;
  width: 100%;
  line-height: 30px;
  background-color: #453A63;
}
header nav ul li {
  display: block;
  margin: 0 auto;
  text-align: center;
}
header nav ul li a {
  display: block;
  text-decoration: none;
  color: #A5A2CF;
}
header nav ul li:hover a{
  color: #EAE7F2;
}
header nav ul li:hover {
  background-color: #8D8AB0;
}
header nav h1 a:hover span{
  color: #EAE7F2;
}

img.diagram {
  border: 1px solid black;
  width: 100%;
  margin: 10px auto;
}
main section ul {
  list-style-type: square;
  margin-left: 35px;
  padding: 0;
}
main section ul li {
  margin: 5px 0;
  text-indent: -5px;

}

@media only screen and (min-width: 550px) {
  main {
    width: 90%;
    padding: 20px 30px;
  }
  footer, header {
    line-height: 45px;
    font-size: 20px;
    height: 45px;
    min-height: 45px;

  }

  footer h2 {
    font-size: 30px;
  }

  header nav ul li {
    line-height: 30px;
  }
  header nav h1 {
    line-height: 45px;
  }
  header nav h1 a img.logo {
    height: 45px;
    margin-right: 2px;
  }
  header nav h1 img.button {
    height: 45px;
  }
  header nav h1 a span {
    font-size: 40px;
  }
  header nav ul li {
    line-height: 30px;
  }
}
@media only screen and (min-width: 800px) {
  main {
    width: 75%;
    border-width: 7px;
    font-size: 18px;
    padding: 30px 50px;
  }
  footer, header {
    line-height: 60px;
    font-size: 30px;
    height: 60px;
    min-height: 60px;
  }
  footer {
    padding: 10px;
  }
  header nav h1 {
    line-height: 60px;
  }
  header nav h1 a img.logo {
    height: 60px;
    margin-right: 5px;
  }
  header nav h1 img.button {
    height: 60px;
  }
  header nav h1 a span {
    font-size: 50px;
  }
  header nav ul li {
    line-height: 45px;
  }
  header nav ul li a{
    font-size: 35px;
  }
  img.diagram {
    width: 49%;
    float: right;
    margin: 10px;
  }
}
